*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    color: #686868;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

:root {
    --main-bg-navbar: #70609C;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.top {
    top: 0;
}

.content {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #444;
}

.title-left {
    text-align: left;
}

.section-title,
.portfolio-title {
    font-size: 32px;
    line-height: 48px;
}

.section-tagline {
    font-size: 18px !important;
    margin: 0;
    color: #A9A9A9;
    clear: both;
}

.space {
    height: 20px;
    width: 100%;
    clear: both;
}

.double-space {
    height: 30px;
    width: 100%;
    clear: both;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }

    .section-title,
    .portfolio-title {
        font-size: 60px;
        font-weight: 800;
        margin: 0;
        line-height: 72px;
        letter-spacing: -2px;
    }

    .section-tagline {
        font-weight: 300;
        font-size: 24px !important;
        margin: 0;
        color: #A9A9A9;
        clear: both;
    }

    .space {
        height: 60px;
        width: 100%;
        clear: both;
    }

    .double-space {
        height: 100px;
        width: 100%;
        clear: both;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    }
    /* Inner */
    .popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    }
    /* Close Button */
    .popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
    }
    .popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
    }

/* Banner Content CSS -- stop here */

.galeri {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main {
    background-color:white;
    max-width: 100%;
    height: 300px;
}

.main > .column1{
    background-color: gray;
    float: left;
    width: 59%;
    height: 200%;
    margin-right: 10px;
}

.main>.column2 {
    background-color: indigo;
    float: left;
    width: 40%;
    height: 200%;
}

.main:after{
    content: "";
    display: table;
    clear: both;
}

.head{
    text-align: right;
    background-color: wheat;
    width: 60%;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.location {
    background-color:yellow;
    max-width: 100%;
    height: 300px;
}

.location>.column {
    margin: 5px 5px 5px 5px;
    background-color: white;
    float: left;
    width: 48%;
    height: 95%;
}

.media {
    background-color:darkcyan;
    max-width: 100%;
    height: 620px;
}

.media>.column {
    margin: 5px 5px 5px 5px;
    background-color: white;
    float: left;
    width: 32%;
    height: 95%;
}

.footer {
    background-color: black;
    max-width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 5px;
    clear: both;
}

.chelsea{
    width: 300px;
    height: 200px;
    align-content: center;

}

.bulat{
    width: 50px; height: 50px; border-radius: 60px; background-color: #70609C;
}
