/* Navbar Content -- start here */

@media screen and (min-width: 1200px) {
    .navbar {
        background-color: white;
        max-width: 100%;
        height: 200px;
        padding-top: 40px;
    }
    .logo {
        background-color: black;
        width: 100px;
        height: 100px;
        float: left;
    }
    .navbar-menu {
        float: right;
    }
    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        background-color: #003f0f;
    }
    ul.topnav li {
        float: left;
    }
    ul.topnav li {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    ul.topnav li:hover {
        background-color: #9dd649;
        color: black;
    }
}

@media screen and (min-width: 970px) {
    .navbar {
        background-color: white;
        max-width: 100%;
        height: 200px;
        padding-top: 40px;
    }
    .logo {
        background-color: black;
        width: 100px;
        height: 100px;
        float: left;
    }
    .navbar-menu {
        float: right;
    }
    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        background-color: #003f0f;
    }
    ul.topnav li {
        float: left;
    }
    ul.topnav li {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    ul.topnav li:hover {
        background-color: #9dd649;
    }
}

@media screen and (min-width: 750px) {
    .navbar {
        background-color: white;
        max-width: 100%;
        height: 200px;
        padding-top: 40px;
    }
    .logo {
        background-color: black;
        width: 100px;
        height: 100px;
        float: left;
    }
    .navbar-menu {
        float: right;
    }
    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        background-color: #003f0f;
    }
    ul.topnav li {
        float: left;
    }
    ul.topnav li {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    ul.topnav li:hover {
        background-color: #9dd649;
    }
}

@media screen and (min-width: 410px) {
    .navbar {
        background-color: white;
        max-width: 100%;
        height: 200px;
        padding-top: 40px;
    }
    .logo {
        background-color: black;
        width: 100px;
        height: 100px;
        float: left;
    }
    .navbar-menu {
        float: right;
    }
    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        background-color: #003f0f;
    }
    ul.topnav li {
        float: left;
    }
    ul.topnav li {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    ul.topnav li:hover {
        background-color: #9dd649;
    }
}

/* Navbar Content -- stop here */